__pycache__
*.pyc
*.pyo
*.pyd
.Python
venv
.coverage
.coverage.*
.cache
*.log
.git
.idea
.env
.dockerignore
.gitignore
.mypy_cache
.pytest_cache
quiz-questions_UNUSED
redis-windows
quiz-questions.zip
_notes.md
scratch.py
Dockerfile
Procfile